      
        p{color: blueviolet;}
        p{font-size: larger;
         font-family:'Courier New', Courier, monospace}
        h1{font-family:'Courier New', Courier, monospace}
        li
        { color: crimson;
         font-size: 33px; 
            
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    .gato_calvo{
width: 400px;
height: 600px;
margin: 100px 600px;

}