
        p
        {
        color:goldenrod;
        font-size: larger;
        font-family:'Courier New', Courier, monospace
       }
       
       body{
        background-color: antiquewhite;
        }

       h1
       {
        color: crimson;
        font-family:'Courier New', Courier, monospace; 
        text-align: center; 
       }
       li
       { 
        text-align:center;
        color: blue;
        font-size: 20px; 
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
       }  


    .table-body
    {
        font-size: 50px;
        color:goldenrod;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: lightyellow;
       
    }

   .gato_calvo
   {
   width: 400px;
   height: 600px
   
   }   
   .lista
   {
    color: blue;   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   }
   .nomes
   {
       text-align: center;
       font-size: 20px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

   }
   h2{
       font-size: 30px;
       text-align:center;
       font-family: sans-serif;
       color: cadetblue;
   }
   h3{
       text-align: center;
       color:palevioletred;

   }
   header{
       background-color:rgb(2,27,38);
   }
   




