
        p
        {
        color:goldenrod;
        font-size: larger;
        font-family:'Courier New', Courier, monospace
       }

       h1
       {
        color: crimson;
        font-family:'Courier New', Courier, monospace;
        text-align: center; 
       }
       li
       { 
        color: blue;
        font-size: 20px; 
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
       }  


    .table-body
    {
        font-size: 50px;
        color:goldenrod;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: lightyellow;
       
    }

       
   .gato_calvo
   {
   width: 400px;
   height: 600px
   }   
   .lista
   {
    color: blue;   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
   }
   .nomes
   {
       font-size: 20px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

   }




